---
import Layout from "@layouts/Layout.astro"
// import MainSection from "@components/MainSection.vue"
import Header from "@components/Header.vue"

const { pid } = Astro.params;
---

<Layout
	title="Faterium poll"
	description="Faterium Decentralized Application to work with Faterium Network."
	coverUrl="https://dapp.faterium.com/preview.png"
>
	<Header client:only />
	<h1>{ pid }</h1>
	<!-- <Footer /> -->
</Layout>
