---
import Layout from "@layouts/Layout.astro"
// import MainSection from "@components/MainSection.vue"
// import Footer from "@components/Footer.vue"
---

<Layout
	title="Faterium dApp"
	description="Faterium Decentralized Application to work with Faterium Network."
	coverUrl="https://dapp.faterium.com/preview.png"
>
	<p>Hello world</p>
	<!-- <MainSection client:only /> -->
	<!-- <Footer /> -->
</Layout>
